* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

* {
  margin: 0
}

.nav {
  margin: 0 auto;
  display: flex;
  list-style: none;
  margin-top: 15px;
}

.nav li {
  margin: 10px;
}

.navbar {
  display: flex;
  list-style: none;
  background-color: rgb(32, 151, 64);
  margin-bottom: 0;
}

.navbar li a {
  text-decoration: none;
  color: #000000;
  font-family: 'Poppins', sans-serif;
}

.navbar li a:hover {
  color: #E54925;
}

.nav-link {
  color: #fff !important;
  width: 100px;
  height: 50px;
}

.nav-item {
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;

}

.main-container {
  background-image: url('../src/images/mainbg.png');
  height: 810px;
  width: 100%;
}

h1 {
  font-size: 120px;
  padding-left: 300px;
  font-family: "Covered By Your Grace", cursive;
  font-weight: bolder;
  color: #ffffff;
}

h3 {
  padding-top: 200px;
  padding-left: 300px;
  font-family: 'Your Grace';
  color: #ffffff;
}

h5 {
  padding-left: 300px;
  font-family: 'Your Grace';
  color: #ffffff;
}

.main-container {
  background-image: url('../src/images/mainbg.png');
  height: 810px;
  width: 100%;
}

h1 {
  font-size: 120px;
  padding-left: 300px;
  font-family: "Covered By Your Grace", cursive;
  font-weight: bolder;
  color: #ffffff;
}

h3 {
  padding-top: 200px;
  padding-left: 300px;
  font-family: 'Your Grace';
  color: #ffffff;
}

h5 {
  padding-left: 300px;
  font-family: 'Your Grace';
  color: #ffffff;
}

.main-container img {
  margin-left: 700px;
}

.cardd {
  margin-left: 200px;
  background-color: #ffffff;
  height: 264px;
  width: 370px;
  transform: translateY(-25%);
  border-radius: 30px;
  border: 2px;
  box-shadow: 10px 10px 10px 1px #363030;
}

.cardd img {
  height: 90px;
  width: 90px;
  margin-left: 150px;
}

h2 {
  text-align: center;
  color: #EEC044;
  font-family: "Covered By Your Grace", cursive;
}

h6 {
  text-align: center;
  font-size: 24px;
}

.card {
  border: none;
  width: 1200px;
  height: 603.19px;
  margin: 0 auto;
}

.t1 {
  width: 550px;
  height: 601px;
  left: 15px;
  border-radius: 50%
}

.t2 {
  transform: translateY(-50%);
  border-radius: 50%;
  border: 15px;
  border-style: solid;
  border-color: #ffffff;
}

.card-titleee {
  color: #000000;
  font-size: 48px;
  padding-left: 200px;
}

.get {
  margin-left: 200px;
  font-size: 24px;
}

.there {
  margin-left: 200px;
  margin-top: 20px;
  color: #4BAF47;
  font-size: 26px;
}

.are {
  margin-left: 200px;
  margin-top: 20px;
  color: gray;
}

h4 {
  margin-left: 200px;
  transform: translateY(-140px);
}

.btn1 {
  background-color: rgb(11, 154, 11);
  margin-left: 200px;
  width: 200px;
  height: 50px;
  border: none;
  color: #fff;
}

.btn1:hover {
  background: #EEC044;
  color: #061161;
  transition: 0.5s;
}

#grow {
  padding-left: 80px;
  transform: translateY(-50px);
}

#grows {
  padding-left: 370px;
  transform: translateY(-175px);
}

.v2 {
  transform: translateY(-110px);
}

.v1 {
  transform: translateY(15px);
}

.offer {
  margin-top: 300px;
}

.what {
  font-size: 48px;
  color: #1F1E17;
  font-weight: bolder;
  text-align: center;
}

#row1 {
  margin-left: 70px;
  margin-right: 70px;
}

.video {
  height: 600px;
  width: 100%;
  margin-top: 100px;
}

#carouselExampleDark {
  height: 350px;
  width: 100%;
  background-color: #F8F7F0;
}

.carousel-item img {
  margin-left: 1100px;
  margin-top: 100px;
  height: 200px;
  width: 200px;
}

.snamee {
  font-size: 30px;
  text-align: left;
  font-weight: bolder;
  color: #2C5364;
}

.spar {
  font-size: 20px;
  text-align: left;
  color: #71a1b6;
  padding-top: 900px;
}

.card-last {
  margin-top: 100px;
  width: 100%;
}

.cardd-last img {
  width: 699px;
  margin-left: 100px;
}

.b2 {
  font-size: 40px;
  color: #1F1E17;
  font-weight: bolder;
}

.b1 {
  font-size: 24px;
  color: #1F1E17;
  font-weight: bolder;
}

.b3 {
  padding-left: 50px;
}

.blog {
  margin-top: 200px;
}